<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {% include latex.html %}
        {{ content }}
        {% include references.html %}
        {% include paginate.html %}
        }
      </div>
    </div>

    <!-- content end -->
    <div class="wrapper">
    {% include disqus.html %}
    </div>
    {% include header.html %}
    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
